* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
    background-color: #fffff7;
}

.navbar {
    background-color: #001219;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
}

.navbar-brand>img {
    height: 80px;
    width: 100px;
}

.navbar-nav>li {
    padding-left: 30px;
}

.navbar-toggler {
    color: red;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #E2B33C;
}

.nav-item .active {
    color: #E2B33C;
}

span.navbar-toggler-icon {
    color: #DDEEEE;
}

button.navbar-toggler {
    border-color: #DDEEEE;
}

.fa-bell {
    color: #32539A;
}

.fa-plus-circle {
    color: #DE2817;
}

.fa-trash-o {
    color: #DE2817;
}

.fa-pencil-square-o {
    color: #05B384;
}

.fa-eye {
    color: #CA6702;
}

.nav-img img {
    width: 200px;
    height: 100px;
}

.container {
    padding-top: 60px;
    height: 100%;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
}

.pagination {
    justify-content: center;
}

.pagination a,
span {
    color: #098486;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 15pt;
    font-family: 'Times New Roman', Times, serif;
}

.pagination a:hover {
    background-color: #263440;
    color: white;
}

.active span {
    color: white !important;
    background-color: #263440 !important;
    border-color: #263440 !important;
}

.alert {
    border: none;
    border-radius: 2px;
    background-color: #02283C;
    color: #fff;
    padding-bottom: 18px;
    opacity: 70%;
    font-family: 'segoe ui';
}

.ma_table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    box-shadow: 2px 2px px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.ma_table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    justify-content: center;
    border-collapse: collapse;
}

.ma_table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

tr:hover {
    transform: scale(1.001);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: 'Poppins, sans-serif';
    font-size: 19px;
    overflow-y: hidden;
}

#header {
    color: #02283C
}

.det,
#det {
    text-align: center;
    text-decoration: underline #32539A;
    color: #32539A;
    font-size: 17pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.modal-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fbfbfb;
    opacity: 98%;
}

#save {
    background-color: #32539A;
    border: none;
}

#annuler {
    border: none;
    background-color: #E34F56;
}

#stat {
    border: none;
    border-radius: 3px;
    font-weight: 700;
    font-size: 12.5pt;
    color: white;
}

#stat:hover {
    color: #001219;
}

.card{
    width: 500px;

    float: none;
    margin: 0 auto;
    margin-top: 60px;
    box-shadow: -10px 13px 13px -7px #000000;
    background-color:#D3D6C2;
    color: black;
    text-align: center;
    margin-bottom: 40px;
    
}

.card_img{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    border-color: #ddd;
    border: 1px solid;
     box-shadow: -10px 13px 13px -7px #000000;
    
}
.card_top{
   text-align: center;
   padding: 20px;
}
.btn2 {
    background-color: black;
    border: none;
    color: #E2B33C;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.9;
    transition: 0.3s;

    border-radius: 5%;
  }
  
  .btn2:hover {
      opacity: 1;
    color: #E2B33C;
    }
    #conn{
        margin-top: 3px;
    }